<p id="notice"><%= notice %></p>

<h1>Users</h1>
<p tag="w"></p>
<p>Note: 0's represent 'No' and 1's represent 'Yes'</p>
<%= link_to 'Home', root_path %> |
<%= link_to 'New User', new_user_path %>
<p tag="w"></p>

<table>
  <tr>
    <td><strong>Name</strong></td>
    <% @users.each do |user| %>
      <td><%= user.name %></td>
      <%end %>
  </tr>
  <tr>
    <td><strong>School</strong></td>
    <% @users.each do |user| %>
      <td><%= user.year %></td>
    <% end %>
  </tr>
  <tr>
    <td><strong>Major</strong></td>
    <% @users.each do |user| %>
      <td><%= user.major %></td>
    <% end %>
  </tr>
  <tr>
    <td><strong>Name</strong></td>
    <% @users.each do |user| %>
      <td><%= user.front_end1 %></td>
    <% end %>
  </tr>
  <tr>
    <td><strong>Back End</strong></td>
    <% @users.each do |user| %>
      <td><%= user.back_end1 %></td>
    <% end %>
  </tr>
  <tr>
    <td><strong>Design</strong></td>
    <% @users.each do |user| %>
      <td><%= user.design1 %></td>
    <% end %>
  </tr>
  <tr>
    <td><strong>Machine Learning</strong></td>
    <% @users.each do |user| %>
      <td><%= user.machine_learning1 %></td>
    <% end %>
  </tr>
  <tr>
    <td><strong>Java</strong></td>
    <% @users.each do |user| %>
      <td><%= user.java1 %></td>
    <% end %>
  </tr>
  <tr>
    <td><strong>Python</strong></td>
    <% @users.each do |user| %>
      <td><%= user.python1 %></td>
    <% end %>
  </tr>
  <tr>
    <td><strong>Ruby</strong></td>
    <% @users.each do |user| %>
      <td><%= user.ruby1 %></td>
    <% end %>
  </tr>
  <tr>
    <td><strong>JavaScript</strong></td>
    <% @users.each do |user| %>
      <td><%= user.javascript1 %></td>
    <% end %>
  </tr>
  <tr>
    <td><strong>C</strong></td>
    <% @users.each do |user| %>
      <td><%= user.C1 %></td>
    <% end %>

    <tr>
      <td><strong>C++</strong></td>
      <% @users.each do |user| %>
        <td><%= user.Cplusplus1 %></td>
      <% end %>
    </tr>
    <tr>
      <td><strong>C#</strong></td>
      <% @users.each do |user| %>
        <td><%= user.Csharp1 %></td>
      <% end %>
    </tr>
    <tr>
      <td><strong>HTML</strong></td>
      <% @users.each do |user| %>
        <td><%= user.html1 %></td>
      <% end %>
    </tr>
    <tr>
      <td><strong>CSS</strong></td>
      <% @users.each do |user| %>
        <td><%= user.css1 %></td>
      <% end %>
    </tr>
    <tr>
      <th></th>
      <% @users.each do |user| %>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <% end %>
    </tr>
    <tr>
      <th></th>
      <%@users.each do |user| %>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
    </table>
</table>
