<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>School:</strong>
  <%= @user.school %>
</p>

<p>
  <strong>Year:</strong>
  <%= @user.year %>
</p>

<p>
  <strong>Major:</strong>
  <%= @user.major %>
</p>
<br>

<h3>Interests</h3>
<p>
  <strong>Front End:</strong>
  <%= @user.front_end1 %>
</p>

<p>
  <strong>Back End:</strong>
  <%= @user.back_end1 %>
</p>

<p>
  <strong>Design:</strong>
  <%= @user.design1 %>
</p>

<p>
  <strong>Machine Learning:</strong>
  <%= @user.machine_learning1 %>
</p>

<p>
  <strong>Java:</strong>
  <%= @user.java1 %>
</p>

<p>
  <strong>Python:</strong>
  <%= @user.python1 %>
</p>

<p>
  <strong>Ruby:</strong>
  <%= @user.ruby1 %>
</p>

<p>
  <strong>JavaScript:</strong>
  <%= @user.javascript1 %>
</p>

<p>
  <strong>C:</strong>
  <%= @user.C1 %>
</p>

<p>
  <strong>C++:</strong>
  <%= @user.Cplusplus1 %>
</p>

<p>
  <strong>C#:</strong>
  <%= @user.Csharp1 %>
</p>

<p>
  <strong>HTML:</strong>
  <%= @user.html1 %>
</p>

<p>
  <strong>CSS:</strong>
  <%= @user.css1 %>
</p>

<p>
  <strong>App Development:</strong>
  <%= @user.app_dev1 %>
</p>

<p>
  <strong>Web Development:</strong>
  <%= @user.web_dev1 %>
</p>

<p>
  <strong>Hardware:</strong>
  <%= @user.hardware1 %>
</p>

<p>
  <strong>Software Development:</strong>
  <%= @user.software_dev1 %>
</p>

<p>
  <strong>Commitment:</strong>
  <%= @user.commitment %>
</p>
<br>

<h3>Teammate Preferences</h3>
<p>
  <strong>Year:</strong>
  <%= @user.year2 %>
</p>

<p>
  <strong>Java:</strong>
  <%= @user.java2 %>
</p>

<p>
  <strong>Python:</strong>
  <%= @user.python2 %>
</p>

<p>
  <strong>Ruby:</strong>
  <%= @user.ruby2 %>
</p>

<p>
  <strong>JavaScript:</strong>
  <%= @user.javascript2 %>
</p>

<p>
  <strong>C:</strong>
  <%= @user.C2 %>
</p>

<p>
  <strong>C++:</strong>
  <%= @user.Cplusplus2 %>
</p>

<p>
  <strong>C#:</strong>
  <%= @user.Csharp2 %>
</p>

<p>
  <strong>HTML:</strong>
  <%= @user.html2 %>
</p>

<p>
  <strong>CSS:</strong>
  <%= @user.css2 %>
</p>
<br>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %> |
<%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
