<p id="notice"><%= notice %></p>

<script type="text/javascript" >
  function myfunction(val) {
      if (val == 0) {
          return "No";
      }
      else {
          return "Yes";
      }
  }
</script>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>School:</strong>
  <%= @user.school %>
</p>

<p>
  <strong>Year:</strong>
  <%= @user.year %>
</p>

<p>
  <strong>Major:</strong>
  <%= @user.major %>
</p>
<br>

<h3>Interests</h3>
<p>
  <strong>Front End:</strong>
  <script type="text/javascript">
    document.write(myfunction(<%= @user.front_end1 %>))
  </script>
</p>

<p>
  <strong>Back End:</strong>
  <script type="text/javascript">
      document.write(myfunction(<%= @user.back_end1 %>))
  </script>
</p>

<p>
  <strong>Design:</strong>
  <script type="text/javascript">
      document.write(myfunction(<%= @user.design1 %>))
  </script>
</p>

<p>
  <strong>Machine Learning:</strong>
  <script type="text/javascript">
      document.write(myfunction(<%= @user.machine_learning1 %>))
  </script>
</p>

<p>
  <strong>Java:</strong>
  <script type="text/javascript">
      document.write(myfunction(<%= @user.java1 %>))
  </script>
</p>

<p>
  <strong>Python:</strong>
  <script type="text/javascript">
      document.write(myfunction(<%= @user.python1 %>))
  </script>
</p>

<p>
  <strong>Ruby:</strong>
  <script type="text/javascript">
      document.write(myfunction(<%= @user.ruby1 %>))
  </script>
</p>

<p>
  <strong>JavaScript:</strong>
  <script type="text/javascript">
      document.write(myfunction(<%= @user.javascript1 %>))
  </script>
</p>

<p>
  <strong>C:</strong>
  <script type="text/javascript">
      document.write(myfunction(<%= @user.C1 %>))
  </script>
</p>

<p>
  <strong>C++:</strong>
  <script type="text/javascript">
      document.write(myfunction(<%= @user.Cplusplus1 %>))
  </script>
</p>

<p>
  <strong>C#:</strong>
  <script type="text/javascript">
      document.write(myfunction(<%= @user.Csharp1 %>))
  </script>
</p>

<p>
  <strong>HTML:</strong>
  <script type="text/javascript">
      document.write(myfunction(<%= @user.html1 %>))
  </script>
</p>

<p>
  <strong>CSS:</strong>
  <script type="text/javascript">
      document.write(myfunction(<%= @user.css1 %>))
  </script>
</p>

<p>
  <strong>App Development:</strong>
  <script type="text/javascript">
      document.write(myfunction(<%= @user.app_dev1 %>))
  </script>
</p>

<p>
  <strong>Web Development:</strong>
  <script type="text/javascript">
      document.write(myfunction(<%= @user.web_dev1 %>))
  </script>
</p>

<p>
  <strong>Hardware:</strong>
  <script type="text/javascript">
      document.write(myfunction(<%= @user.hardware1 %>))
  </script>
</p>

<p>
  <strong>Software Development:</strong>
  <script type="text/javascript">
      document.write(myfunction(<%= @user.software_dev1 %>))
  </script>
</p>

<p>
  <strong>Commitment:</strong>
  <%= @user.commitment %>
</p>
<br>

<h3>Teammate Preferences</h3>
<p>
  <strong>Year:</strong>
  <%= @user.year2 %>
</p>

<p>
  <strong>Java:</strong>
  <script type="text/javascript">
      document.write(myfunction(<%= @user.java2 %>))
  </script>
</p>

<p>
  <strong>Python:</strong>
  <script type="text/javascript">
      document.write(myfunction(<%= @user.python2 %>))
  </script>
</p>

<p>
  <strong>Ruby:</strong>
  <script type="text/javascript">
      document.write(myfunction(<%= @user.ruby2 %>))
  </script>
</p>

<p>
  <strong>JavaScript:</strong>
  <script type="text/javascript">
      document.write(myfunction(<%= @user.javascript2 %>))
  </script>
</p>

<p>
  <strong>C:</strong>
  <script type="text/javascript">
      document.write(myfunction(<%= @user.C2 %>))
  </script>
</p>

<p>
  <strong>C++:</strong>
  <script type="text/javascript">
      document.write(myfunction(<%= @user.Cplusplus2 %>))
  </script>
</p>

<p>
  <strong>C#:</strong>
  <script type="text/javascript">
      document.write(myfunction(<%= @user.Csharp2 %>))
  </script>
</p>

<p>
  <strong>HTML:</strong>
  <script type="text/javascript">
      document.write(myfunction(<%= @user.html2 %>))
  </script>
</p>

<p>
  <strong>CSS:</strong>
  <script type="text/javascript">
      document.write(myfunction(<%= @user.css2 %>))
  </script>
</p>
<br>

<%= link_to 'Home', root_path %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Cancel', users_path %>
